# SPDX-License-Identifier: Apache-2.0

[Match]
Name=usb0

[Link]
RequiredForOnline=no

[Network]
Address=192.168.128.10/24
LinkLocalAddressing=no
IPv6AcceptRA=no

[Route]
Gateway=192.168.128.1
Metric=800
